# Python byte-compiled files
*.py[co]
__pycache__/

# OS and editor files
.DS_Store
.idea
.vscode
*.swp*
*~
*.tmproj

# Cache and log files
*.log
.cache
.coverage
tmp

# Environment configuration
.env
requirements/local.*

# Static and media
_media
_static
